@use '../../abstract' as *;
.contact-header {
  .inner-page-header {
    p {
      max-width: 90%;
      @include tablet {
        max-width: 550px;
      }
    }
  }
}

.form-container {
  background: $neutral1;
  margin: 40px 0;
  padding: 56px 56px 59px 56px;

  #map {
    height: 445px;
    width: 100%;
  }

  .comment-form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 50%;

    .form-title {
      @include heading-24(700);
      color: $secondary;
    }
  }
}
