@use '../../abstract' as *;

.footer-section {
  background-color: $secondary;
  padding-top: 60px;
  color: $neutral2;
  @include paragraph-18();
  @include tablet {
    padding-top: 80px;
  }
  @include desktop {
    padding-top: 100px;
  }
  @include extra-large-desktop {
    padding-top: 130px;
  }

  p {
    font: inherit;
  }
  a,
  li {
    font: inherit;
  }
  a {
    color: inherit;
    &:hover {
      color: $primary;
    }
  }
}
.footer-title {
  @include heading-24(700);
  color: $white;
  margin-bottom: 15px;
  @include tablet {
    margin-bottom: 20px;
  }
}
.footer-description-block {
  max-width: 316px;
}
.footer-logo {
  max-width: 160px;
  margin-bottom: 12px;
  @include tablet {
    max-width: initial;
  }
  img {
    max-width: 100%;
  }
}

.payment-logo-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
  margin-top: 30px;
  @include tablet {
    gap: 10px;
    margin-top: 40px;
    flex-wrap: nowrap;
  }
  @include extra-large-desktop {
    gap: 16px;
    margin-top: 48px;
  }
}
.footer-link {
  margin-top: 12px;
}
.footer-list {
  padding: 0;
  li {
    color: $neutral2;
    margin-bottom: 8px;
    @include tablet {
      margin-bottom: 12px;
    }
  }
}

.copyright-block {
  background-color: $neutral9;
  @include paragraph-18();
  color: $neutral1;
  text-align: center;
  padding: 12px 0;
  margin-top: 40px;
  @include tablet {
    margin-top: 50px;
  }
  @include desktop {
    margin-top: 72px;
  }
  p {
    margin-bottom: 0;
  }
}