@use '../../abstract' as *;

.category-card {
  padding: 40px 56px;
  background-color: $neutral1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__icon {
    margin-bottom: 24px;
  }
  &__title {
    @include heading-24();
    color: $secondary;
  }
  p {
    @include paragraph-18();
    color: $neutral8;
    margin-top: 8px;
  }

  &:hover {
    background-color: $primary;
    .category-card__icon {
      filter: brightness(0.5);
    }
  }

  &--small {
    padding: 32px;
  }
}
