@use "../abstract" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Literata", serif;
}

a,
span {
  display: inline-block;
}

p {
  margin-bottom: 0;
}
