$primary: #f9d176;
$primary-light: #f9d27662;
$secondary: #213e40;
$white: #fff;
$neutral1: #f8f9f9;
$neutral2: #d3d8d9;
$neutral3: #bcc5c6;
$neutral4: #a6b2b3;
$neutral5: #909f9f;
$neutral6: #7a8b8c;
$neutral7: #647879;
$neutral8: #4d6566;
$neutral9: #375153;
$random: purple;
